.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #FFFFFF;
}

.header .logo img {
  height: 40px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info .star-count {
  margin-left: 30px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}

.user-info img {
  margin-right: 20px;
}

.user-info .username {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.3px;
  white-space: nowrap;
  margin-right: 4px;
  color: #404040;
}

/* Sidebar styles */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  width: 190px;
  max-height: 100vh;
  padding: 20px 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  cursor: pointer;
  padding: 12px 21px;
}

.sidebar li:hover {
  background-color: #F5F5F5;
  border-radius: 10px;
  cursor: pointer;
}

.sidebar li p {

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  color: #000000;

}

.sidebar li.selected {
  background-color: linear-gradient(180deg, #BAB0D4 0%, #7562E3 0%, #2B30F5 100%);
  background: #F0EFFF;
  border-radius: 8px;
}

.sidebar li.selected img {
  color: #FFE044;
}

.sidebar li.selected p {
  color: #6F4CFF;
}

/* Progress bar styles */
.main-progress-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  width: 100%;
}

.progress-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 16px;
  background-color: #F1F5F9;
  border-radius: 40px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  max-width: 100%;
  background: linear-gradient(180deg, #BAB0D4 0%, #7562E3 0%, #2B30F5 100%);
  border-radius: 40px;
  transition: width 0.3s ease-in-out;
}

.progress-text {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  white-space: nowrap;
}

/* Main page styles */
.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;

  background: linear-gradient(180deg, #BAB0D4 0%, #7562E3 45%, #2B30F5 100%);

}

.main-page .career-star-logo {

  position: absolute;
  width: 110px;
  height: 59px;
  left: 57px;
  top: 52px;

}

.main-page-contnent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

.main-page-header {
  margin-top: -40px;
  width: 100%;
}

.main-page-header h1 {

  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 100%;

  text-align: center;
  letter-spacing: -2px;
  margin: 0;
  padding: 0px;
  color: #FFFFFF;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.main-page-header p {
  height: 50px;
  max-width: 475px;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;

  color: #FFFFFF;
}

.main-page-button {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 50px;
  gap: 10px;
  margin: 0 auto;
  margin-top: 20px;

  max-width: 288px;
  max-height: 56px;

  background: #FFE044;
  border-radius: 40px;

}

.main-page-button:hover {
  cursor: pointer !important;
}

.main-page-button p {
  margin: 5px;
}

.main-page-footer {

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  color: #FFFFFF;
}

.main-page-footer a {

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  color: #FFFFFF;
}

/* Sign up page styles */
.signUp-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;

  background: white;

}

.signUp-page .career-star-logo {

  position: absolute;
  width: 110px;
  height: 59px;
  left: 57px;
  top: 52px;

}

.career-star-logo:hover {
  cursor: pointer !important;
}

.signUp-page .signUp-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 489px;
  width: 100%;
  height: 100vh;
}

.signUp-page-question {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 10px;

  max-width: 489px;
  max-height: 229px;

  background: #FFFFFF;
  border-radius: 24px;
  border: 2px solid #E5E5E5;

  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.signUp-page-question h2 {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;

  text-align: left;
  letter-spacing: -2px;
  margin: 0;
  padding: 0px;
  color: #161219;

  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.signUp-page-question h2 .highlight {
  color: #3536F3
}

.signUp-page-question p {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;

  text-align: left;
  margin: 0;
  padding: 0px;
  color: #161219;

}

.signUp-page-question input {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 10px;

  width: 409px;
  height: 45px;

  background: #F5F5F5;
  border-radius: 4px;
  border: none;
}

.signUp-page-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;

  width: 473px;
  height: 30px;

  margin: 0 auto;
  margin-top: 20px;
  background: linear-gradient(180deg, #BAB0D4 0%, #7562E3 0%, #2B30F5 100%);
  border-radius: 8px;

  color: #FFFFFF;
}

.signUp-page-button:hover {
  cursor: pointer !important;
}

.signUp-page-footer {

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  text-align: center;

  color: #161219;
}

/* User Intent page styles */
.dropdown-menu {
  box-sizing: border-box;

  padding: 8px 12px;
  margin-right: 60px;

  width: 409px;
  height: 41px;

  background: #FFFFFF;
  border: 1px solid #CBD5E1;
  border-radius: 6px;

  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1.5L5 5.5L9 1.5" stroke="%2394A3B8" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 10px 7px;
}

.dropdown-menu option {
  background: #FFFFFF;
  color: #000000;
  padding: 20px;
  border: none;
}

/* Email Credentaial page styles */

.toggle-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.toggle-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 44px;
  height: 24px;
  background: #F5F5F5;
  border-radius: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-right: 10px;
}

.toggle-button::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease;
  transform: translateX(2px);
}

.toggle-button.checked {
  background: #007bff;
}

.toggle-button.checked::before {
  transform: translateX(calc(100% + 2px));
}

.toggle-button-container p {
  line-height: 29px;
  text-align: center;
  white-space: nowrap;
}

.email-credential-page-footer {
  margin-top: 40px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}

.email-credential-page-footer .email-credential-page-footer-bold {
  font-weight: 700;
}

/*Pop up styles*/
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px 50px;
  border-radius: 15px;
  text-align: center;
  position: relative;
}

.popup-content .earned-star {
  margin-top: 10px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  background: linear-gradient(180deg, #BAB0D4 0%, #7562E3 0%, #2B30F5 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;

}

.popup-content .popup-text {

  width: 260px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.3px;

  color: #000000;

}

.popup-content img {
  gap: 12px;

  width: 125.96px;
  height: 116.98px;

}

.popup-content h2 {
  margin: 0 0 10px;
}

.popup-content .popup-submit-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;

  width: 200px;
  height: 30px;

  margin: 0 auto;
  margin-top: 20px;
  background: linear-gradient(180deg, #BAB0D4 0%, #7562E3 0%, #2B30F5 100%);
  border-radius: 8px;

  color: #FFFFFF;
}

.popup-content .popup-submit-button:hover {
  cursor: pointer !important;
}

/* Dashboard page styles */

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dashboard-container {
  display: flex;
  flex: 1;
  height: 100vh;
}

.dashboard-sidebar {
  background-color: #f4f4f4;
  padding: 20px;
}

.dashboard-container .content {
  flex: 1;
  background-color: #F9F8FF;
  margin-bottom: 20px;
}

/* Home page styles */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  max-height: 100vh;
  background: #F9F8FF;
}

.home-welcome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 90%;
  background-color: #ffffff;
  margin-top: 45px;
  box-shadow: 0px 485px 194px rgba(224, 224, 224, 0.01), 0px 273px 164px rgba(224, 224, 224, 0.05), 0px 121px 121px rgba(224, 224, 224, 0.09), 0px 30px 67px rgba(224, 224, 224, 0.1);
  border-radius: 8px;
  padding: 24px;
}

.home-welcome-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home-welcome-left-text {
  margin: 0px;
  white-space: nowrap;
  text-align: left;
}

.home-welcome-left-text h1 {
  margin: 0px;
  margin-bottom: 5px;
  color: #171717;
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}

.home-welcome-left-text p {
  margin: 0px;
  color: #171717;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.home-welcome-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  font-size: 20px;
}

.home-welcome-right .star-count {
  margin-right: 8px;
}

.home-page-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;

  width: 473px;
  height: 30px;

  margin: 0 auto;
  margin-top: 20px;
  background: linear-gradient(180deg, #BAB0D4 0%, #7562E3 0%, #2B30F5 100%);
  border-radius: 8px;

  color: #FFFFFF;
}

.home-page-button:hover {
  cursor: pointer !important;
}

.home-page-skip-video-button:hover {
  cursor: pointer;
}

/* Home Page Questionnaire styles */

.home-page-question {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 10px;

  max-width: 489px;
  max-height: 100vh;

  background: #FFFFFF;
  border-radius: 24px;
  border: 1px solid #6F4CFF;
}

.home-page-question h2 {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  width: 409px;
  text-align: left;
  letter-spacing: -2px;
  margin: 0;
  padding: 0px;
  color: #161219;
}

.home-page-question h2 .highlight {
  color: #3536F3
}

.home-page-question p {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;

  text-align: left;
  margin: 0;
  padding: 0px;
  color: #161219;
}

.home-page-question input {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 10px;

  width: 409px;
  height: 45px;

  background: #F5F5F5;
  border-radius: 4px;
  border: none;
}

.home-questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 489px;
  width: 100%;
  max-height: 100vh;
  margin-top: 50px;
}

.personalize-text {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 164%;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  color: #000000;
}

.home-question-wrapper {
  margin: 40px;
}

.home-page-question-dropdown-menu {
  box-sizing: border-box;

  padding: 8px 12px;

  width: 409px;
  height: 41px;

  background: #FFFFFF;
  border: 1px solid #CBD5E1;
  border-radius: 6px;

  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1.5L5 5.5L9 1.5" stroke="%2394A3B8" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 10px 7px;
}

.home-page-question-dropdown-menu option {
  background: #FFFFFF;
  color: #000000;
  padding: 20px;
  border: none;
}

.home-page-question-choice {
  margin-top: 10px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  gap: 10px;

  width: 474px;
  height: 57px;

  border-radius: 8px;
  border: 1px solid #6F4CFF;
  cursor: pointer;
}

.home-page-skip-video-button {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin-top: 10px;
  color: #000000;
}

.home-page-question-description p {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  line-height: 20px;
  color: #727272;
}

.home-page-question-checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 18px;
}


.home-page-question-checkbox-group label {
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}

.home-page-question-checkbox-group input[type="checkbox"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.home-page-question-checkbox-group input[type="checkbox"]:checked {
  accent-color: #fff;
}

.home-page-question-checkbox-group p {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  color: #2E2E2E;
}

/* Activities page styles */
.activites-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 32px;
  max-width: 1300px;
}

.activites-container .activity-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  gap: 32px;
  flex-wrap: wrap;
}

/* Activity card styles */
.activity-card-container {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 10px;
  padding: 20px;
  width: 100%;
  max-width: 200px;
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 485px 194px rgba(224, 224, 224, 0.01), 0px 273px 164px rgba(224, 224, 224, 0.05), 0px 121px 121px rgba(224, 224, 224, 0.09), 0px 30px 67px rgba(224, 224, 224, 0.1);
  text-align: left;
}

.activity-card-container:hover {
  cursor: pointer;
  padding-left: 40px;
  padding-right: 40px;
}

.activity-card-image img {
  width: 200px;
  margin: 0px;
  padding: 0px;
}

.activity-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
  padding: 0px;
}

.activity-card-tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.activity-card-tags .activity-card-tag {
  padding: 4px 12px;
  background: #EBE8FF;
  border-radius: 24px;
}

.activity-card-tags .activity-card-tag p {
  margin: 0;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #000000;
}

.activity-card-content h2 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  padding: 0px;
  color: #000000;
  margin: 0px;
  margin-top: 10px;
}

.activity-card-content .activity-card-description p {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  /* margin: 0px; */
  margin-bottom: 0px;
}

.activity-card-star {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 160px;
}

.activity-card-star p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}

/* Activity card popup styles */
.activity-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.activity-popup-content {
  background: white;
  padding: 20px 20px;
  border-radius: 15px;
  text-align: center;
  position: relative;
}

.activity-popup-content h2 {
  width: 335px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: left;
  color: #000000;
  margin: 0 0;
}

.activity-popup-content img {
  gap: 12px;
  width: 100%;
}

.activity-popup-content .activity-popup-text {

  max-width: 350px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  letter-spacing: 0.3px;

  color: #000000;

}

.activity-popup-content .activity-popup-submit-button {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  padding: 8px 0px;

  width: 100%;
  height: 20px;

  margin: 0 auto;
  margin-top: 20px;
  background: linear-gradient(180deg, #BAB0D4 0%, #7562E3 0%, #2B30F5 100%);
  border-radius: 8px;

  color: #FFFFFF;
}

.activity-popup-content .activity-popup-submit-button:hover {
  cursor: pointer !important;
}

.activity-popup-tags {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.activity-popup-star-and-count {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}